.grid {
	width: 600px;
	height: 600px;
	border: 1px solid black;
	display: flex;
	flex-wrap: wrap;
}

.col {
	border: 1px solid red;
	box-sizing: border-box;

	--base-width: 8.33333%;
	flex: 0 0 var(--base-width);
}

.col-2 {
	flex: 0 0 calc(2 * var(--base-width));
}

.col-3 {
	flex: 0 0 calc(3 * var(--base-width));	
}

.col-4 {
	flex: 0 0 calc(4 * var(--base-width));	
}



